.wrapperButtons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  background: white;
  box-sizing: border-box;
  border: #2196f3 solid 1px;
  border-radius: 0.5rem;

  @media (min-width: 768px) {
    padding: 1rem;
  }
}

.wrapperButtonsTasksStatus {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;

    button {
      flex: 1 1 auto;
      min-width: 100px;
    }
}


